/*<style>
footer styles
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>*/


/********************* GENERAL STYLES *********************/
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 12px;
}

body {
  font-size: 1em;
  font-family: 'Kumbh Sans', sans-serif;
  width: 100%;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-size: cover;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  
}

.container {
  width: 87%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/********************** FAQ ***************************/
.faq {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 150px;
  margin-bottom: 85px;
  padding-top: 140px;
  padding-bottom: 80px;
  border-radius: 25px;
}

.faq .container {
  width: 77%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/*********************** QUESTIONS *********************/

.qna {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.q-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}



/************************* FOOTER *********************/
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}