/*<style>
footer styles
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>*/


/********************* GENERAL STYLES *********************/
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 12px;
  background-color: hsl(273, 75%, 66%);
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat center;
  background-size: cover;
}

body {
  font-size: 1em;
  font-family: 'Kumbh Sans', sans-serif;
  width: 100%;
  
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  
}

.container {
  width: 87%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/********************** FAQ ***************************/
.faq {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 150px;
  margin-bottom: 85px;
  padding-top: 140px;
  padding-bottom: 40px;
  border-radius: 25px;
  box-sizing: border-box;
}

.faq .container {
  width: 77%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

h1 {
  padding-bottom: 23px;
}

/*********************** QUESTIONS *********************/

.qna {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.q-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  padding-bottom: 20px;
  padding-top: 20px;
  cursor: pointer;
}

.answer {
  padding-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.rotation {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform = rotate(180deg);
}


/************************* FOOTER *********************/
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}